<?xml version="1.0" encoding="utf-8"?>
<RenderConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" ImageWidth="1024" ImageHeight="1024" ClearColorValue="0">
  <ProjectionSettings xsi:type="MercatorProjection" ProjectionType="MERCATOR" LatitudeClip="85.051129" CentralMeridianLongitude="0" />
  <Layers>
    <Layer FilePath="data\ne_10m_ocean\ne_10m_ocean.shp" DrawEdges="false" FillPolygons="true" EdgeColorValue="FFFFFFFF" PolygonFillColorValue="FF486577">
      <EdgeColor />
      <PolygonFillColor />
    </Layer>
  </Layers>
  <Layers>
    <Layer FilePath="data\ne_10m_admin_0_countries\ne_10m_admin_0_countries.shp" DrawEdges="true" FillPolygons="true" EdgeColorValue="FF7E95A4" PolygonFillColorValue="FF223E51">
      <EdgeColor />
      <PolygonFillColor />
    </Layer>
  </Layers>
</RenderConfig>